html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    /*background: #000; /* match the canvas/scene background */
}


#info{
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: sans-serif;
    font-size: 24px;
    color: white;
    margin: 8px;
}